/* styles/globals.css */

body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #080120; /* Cor de fundo da página */
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-card {
  width: 100%;
  max-width: 400px;
  background-color: #ffffff; /* Cor clara para o card */
  padding: 2rem;
  box-shadow: 0 4px 8px rgba(7, 224, 231, 0.329);
  border-radius: 8px;
  text-align: center;
  color: #333333;
}

h1 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

h2 {
  margin-top: 0.5rem;
}

h2 > a {
  color: #4a90e2; /* Cor da link */
  text-decoration: underline;
}

h2 > a:hover {
  color: mediumblue; /* Cor da link em foco */
  font-size: 0.97rem;
}

p {
  color: #666666;
  margin-bottom: 2rem;
}

input {
  width: 100%;
  padding: 0.75rem;
  margin: 0.5rem 0;
  border: 1px solid #dddddd;
  border-radius: 4px;
  font-size: 1rem;
  outline: none;
}

input:focus {
  border-color: #4a90e2; /* Cor de foco */
}

button {
  width: 100%;
  padding: 0.75rem;
  margin-top: 1rem;
  background-color: #0a305a; /* Azul */
  color: #ffffff;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #357ab8; /* Azul mais escuro */
}
